.strength-meter {
  margin-top: 20px;
  text-align: center;
  background-color: #18171F;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.strength-meter .str {
  font-size: 18px;
  color: #817D92;
}

.strength-indicator {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
}

.strength-indicator span {
  display: inline-block;
  width: 10px;
  height: 28px;
  background-color: #18171F;
  border: 1px solid white;
}

.strength-label {
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  padding: 0 10px;
  color: white;
}
